.test-border {
  border: solid 1px salmon;
}

.main-container {
  margin: 5%;
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: black;
}

.add-button-div {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  min-width: 100%;
}

.add-button,
.expense-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 35%;
  min-height: 10vh;
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  border-style: none;
}

.add-expense-popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  max-width: 500px;
  margin: 5%;
  border: solid 1px silver;
  font-family: sans-serif;
  background-color: bisque;
}

.label-newline,
select,
input {
  display: block;
  margin: 0.5rem;
}

select,
input {
  min-height: 2rem;
  text-align: center;
}

.banner {
  margin: 5%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5%;
}

.dashboard .dashboard-heading {
  font-weight: bold;
  display: flex;
}

.dashboard .dashboard-heading span {
  display: flex;
  width: 20%;
  /* border: 1px red solid; */
}

.dashboard .dashboard-heading .wider {
  width: 30%;
}

.dashboard .dashboard-results span {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.popup {
  border: solid 2px paleturquoise;
}

.site-banner {
  background-color: pink;
  align-self: stretch;
  text-align: center;
}

.wider {
  width: 30%;
}

@media (min-width: 600px) {
  .add-button button {
    min-width: 7.5rem;
    margin: 0;
  }
}
